body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
	background-color: #232323;
	color: white;
}

header {
	text-align: center;
}

.t2 {
  	padding: 5px;
  	border: 0;
  	border-right-width: 1px;
  	border-style: solid;
}

.p1 {
	max-height: 40%;
	margin: 2% 8% 2% 8%;
	text-align: center; 
	vertical-align: middle;
	overflow: auto;
}

.p2 {
	font-size: 18px;
	margin: 3% 30% 0 30%;
}

.nav2 {
	display: none;
}

.middle {
	text-align: center;

}

hr {
	border-color: #2C90CF;
	margin: 0 10% 0 10%;
}

.im {
	width: 250px;
	max-width: 90%;
}

#zen {
	max-height: 200px;
	vertical-align: middle;
	float: left;
	padding-bottom: 5%;
}
.container {
	position: fixed;
}
@media screen and (max-width:992px){
	.nav1 {
		display: none;
	}
	.nav2 {
		display: block;
	}
	body {
		background-size: cover;
	}

}